@import "./variables.less";
@import "./mixins.less";
@import "./utilities.less";
@import "./button.less";
@import "./form-input.less";

body {
  font-family: "Source Sans Pro", 'Segoe UI', sans-serif;
  line-height: @line-height;
  position: relative;
  color: @color;
  font-size: @base-font-size;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 96%;
  max-width: 1100px;
  margin: 0 auto;
}

// Top Contact bar i.e. for booking ...

.contact-topbar {
  background-image: @primary-linear-gradient;
  font-size: @small-font-size;
  color: #fff;
  padding: @tiny-space;
}


// Header

.top-header {
  padding: @normal-space 0;

  .mobile-nav-trigger {
    padding: @tiny-space 15px;
    background: transparent;
    color: inherit;
    border-radius: 100px;
    margin-right: @tiny-space;

    &:hover {
      background: @gray-1;
    }
  }

  .form-input {
    min-width: 20rem;
  }

}


// Navigation

.top-nav {
  background: @gray-1;
  padding: @tiny-space;
  color: @soft-violet;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      display: inline-block;
      padding: 2px 5px;

      a {
        text-transform: uppercase;
      }
    }

    @media (min-width: 481px) and (max-width: 1100px) {
      display: block;
    }

  }
}

.mobile-nav {
  background: @gray-1;
  padding: @tiny-space;
  transition: all 1s ease;
  color: @soft-violet
}


.nav-items-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: @tiny-space;

  ul li {
    padding: 2px;
  }
}

// Hero or main area

main {
  background-image: url('../assets/imgs/jumbo-header.png');

  section {
    padding: @medium-space @medium-space 180px;
    position: relative;
    z-index: 10;
    color: #fff;
    text-shadow: @text-shadow;
    text-align: center;

    @media (min-width: 768px) {
      padding: 9rem 0 13rem;
    }
  }

  div.features-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    background: white;
    bottom: -120px;
    padding: 5px;

    ul.features {
      height: 240px;
      display: grid;
      grid-template-columns: 2fr 2fr;
      align-items: center;

      li {
        display: block;
        margin-bottom: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        text-transform: uppercase;
        font-size: @small-font-size;
        height: 96%;

        @media (min-width: 560px) {
          height: 100%;
          box-shadow: 1px 0px 0px rgba(114, 96, 112, 0.15);

          &:last-of-type {
            box-shadow: none;
          }
        }

        img {
          width: 64px;
          display: block;
          margin: 0 auto @tiny-space;
        }
      }

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 150px;
      }
    }

    @media (min-width: 768px) {
      bottom: -75px;
    }
  }
}


// Promotional Area
.promotion-area {
  padding: @large-space 0;

  @media (min-width: 768px) and (max-width: 997px) {
    padding: 4.5rem 0
  }

  @media (min-width: 998px) {
    padding: 5.5rem 0
  }

  &::first-of-type{
    padding-top: 160px;
  }
  &::nth-of-type(odd) {
    background-color: @gray-1
  }
}

.promotion-wrapper {
  .heading-text {
    color: @emphasis-color;
    font-weight: normal;
  }

  .promotion-item {
    position: relative;
    min-height: 16.8rem;
    height: auto;
    border-radius: 2px;

    .promotion-overlay {
      .overlay-mixin();
      color: #fff;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: @small-space;
      text-shadow: @text-shadow;

      .promotion-title {
        font-weight: 700;
        font-size: @medium-font-size;
        margin: 0;
      }
    }

    .promotion-image {
      width: 100%;
      z-index: 1;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
    }

    @media (min-width: 768px) {
      margin: 0;
      min-height: 13em;
    }

    &.promotion-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.center-item {
      @media (min-width: 998px) {
        grid-row: span 2;
      }
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: @tiny-space;
    padding: @tiny-space
  }

  @media (min-width: 768px) and (max-width: 997px) {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: @tiny-space
  }

  @media (min-width: 998px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: @tiny-space;
  }
}


// Call to Action

section.cta {
  background-image: url('../assets/imgs/jumbo-footer.png');

  div.container {
    padding: @medium-space;
    position: relative;
    z-index: 10;
    color: #fff;
    text-shadow: @text-shadow;
    text-align: center;

    @media (min-width: 998px) {
      padding: 3.125rem 15.625rem;
    }

    @media (min-width: 768px) and (max-width: 997px) {
      padding: 3.125rem 9.375rem;
    }
  }
}


// Footer

footer {
  padding: @medium-space 0;

  section {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: @medium-space;
    }

    @media (min-width: 560px) and (max-width: 767px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: @medium-space;
    }
  }
}

.footer-item {
  h4 {
    margin: 0 0 @small-space 0;
    font-weight: 600;
  }

  margin-bottom: @small-space;
}

.footer-nav a {
  display: block;
  line-height: 1.5
}